@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Josefin Sans', sans-serif;
}

// header
header {
    background-color: $orange_color;

    #img_container img {
        width: 15rem;
        height: 15rem;
    }

    a.active {
        border-bottom: 3px solid $primary_color;
    }
}

// main
main {
    background-color: $main_bg;

    .card_container {
        width: 50rem;
    }
}

// footer
footer {
    background-color: $dark_color;
    height: 15rem;
}